/**styles for the tui carousel, built on top of foundations's orbit**/
/* line 3, ../sass/styles.scss */
div.orbit-wrapper div.slider-nav span.right, div.orbit-wrapper div.slider-nav span.left {
  background: black;
}

/* line 7, ../sass/styles.scss */
#carousel_wrapper {
  background: #414348;
  /* Old browsers */
  background: -moz-linear-gradient(top, #414348 0%, #5a5e64 31%, #5a5e64 61%, #414348 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #414348), color-stop(31%, #5a5e64), color-stop(61%, #5a5e64), color-stop(100%, #414348));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #414348 0%, #5a5e64 31%, #5a5e64 61%, #414348 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #414348 0%, #5a5e64 31%, #5a5e64 61%, #414348 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #414348 0%, #5a5e64 31%, #5a5e64 61%, #414348 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #414348 0%, #5a5e64 31%, #5a5e64 61%, #414348 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#414348', endColorstr='#414348',GradientType=0 );
  /* IE6-9 */
  width: 100%;
  height: 520px;
  border-top: 1px solid #000;
}

/* line 22, ../sass/styles.scss */
#carousel_banner {
  width: 1000px;
  max-width: 100%;
  min-width: 768px;
  margin: 0 auto;
  margin: 0px auto;
  height: 100%;
  overflow: hidden;
  position: relative;
}

/* line 35, ../sass/styles.scss */
.white_header ul.nav {
  width: 100%;
  background-color: white;
  height: 42px;
}
/* line 39, ../sass/styles.scss */
.white_header ul.nav li {
  background-color: white;
  float: left;
  list-style: none;
  padding: 10px 20px;
  border-right: 1px solid #ccc;
}
/* line 45, ../sass/styles.scss */
.white_header ul.nav li a {
  color: #222;
}
/* line 48, ../sass/styles.scss */
.white_header ul.nav li.pusharight {
  float: right;
  border-right: none;
}
/* line 52, ../sass/styles.scss */
.white_header ul.nav li.logo {
  padding: 0px;
}
/* line 54, ../sass/styles.scss */
.white_header ul.nav li.logo img {
  display: block;
  margin: 0px auto;
  border: none;
}

/* line 65, ../sass/styles.scss */
ul#nav {
  width: 1000px;
  position: absolute;
  bottom: 0px;
}
/* line 70, ../sass/styles.scss */
ul#nav li {
  height: 72px;
  width: 72px;
  list-style: none;
  float: left;
}
/* line 77, ../sass/styles.scss */
ul#nav li.left span {
  height: 100%;
  width: 70px;
  display: block;
  background: url("../images/arrows.png") 0px -73px no-repeat;
}
/* line 84, ../sass/styles.scss */
ul#nav li.right {
  float: right;
}
/* line 86, ../sass/styles.scss */
ul#nav li.right span {
  height: 100%;
  width: 70px;
  display: block;
  background: url("../images/arrows.png") -70px -73px no-repeat;
}
/* line 94, ../sass/styles.scss */
ul#nav li:hover span {
  background-position-y: -1px;
}

/* line 101, ../sass/styles.scss */
#carousel {
  height: 100%;
}
/* line 104, ../sass/styles.scss */
#carousel .img_cont {
  float: left;
  position: absolute;
  bottom: 0px;
  width: 365px;
}
/* line 110, ../sass/styles.scss */
#carousel .an_image-1 {
  left: 50px;
  margin-top: 40px;
}
/* line 114, ../sass/styles.scss */
#carousel .an_image-2 {
  left: 300px;
  margin-top: 20px;
}
/* line 118, ../sass/styles.scss */
#carousel .an_image-3 {
  right: 50px;
}
/* line 122, ../sass/styles.scss */
#carousel .caption {
  background-color: #ffcc00;
  width: 270px;
  height: 100px;
  padding: 15px;
  position: absolute;
  margin-left: 345px;
  bottom: 0%;
}
/* line 130, ../sass/styles.scss */
#carousel .caption .caption_contents {
  opacity: 0;
}
/* line 133, ../sass/styles.scss */
#carousel .caption h2 {
  font-size: 18px;
  font-weight: 300;
  margin: 0px;
}
/* line 138, ../sass/styles.scss */
#carousel .caption h4 {
  font-size: 14px;
  font-weight: 300;
  margin: 10px 0px;
}

/* line 147, ../sass/styles.scss */
.footer {
  width: 100%;
  height: 150px;
  background: url("../images/footer-grad.png") top left repeat-x;
}

/**pagination**/
/* line 155, ../sass/styles.scss */
#pagination {
  margin: 0px auto;
  width: 100px;
  display: block;
  padding-top: 20px;
}
/* line 161, ../sass/styles.scss */
#pagination li {
  list-style: none;
  height: 12px;
  width: 12px;
  border-radius: 6px;
  float: left;
  background-color: #333;
  margin-right: 5px;
}
/* line 171, ../sass/styles.scss */
#pagination li.active {
  background-color: #fff;
  box-shadow: inset 0px 1px 2px #000;
}

/**end pagination**/
/**slide rules**/
/*slide coming in bottom to top and vice versa*/
/* line 181, ../sass/styles.scss */
#carousel .slide-frombottom .an_image-1 {
  -webkit-animation: fromRightAnim1 0.3s ease-out 0.6s both;
}

/* line 184, ../sass/styles.scss */
#carousel .slide-frombottom .an_image-2 {
  -webkit-animation: fromRightAnim2 0.4s ease-out 0.7s both;
}

/* line 187, ../sass/styles.scss */
#carousel .slide-frombottom .an_image-3 {
  -webkit-animation: fromRightAnim3 0.5s ease-out 0.8s both;
}

/* line 191, ../sass/styles.scss */
#carousel .slide-fromtop .an_image-1 {
  -webkit-animation: fromTopAnim1 0.5s ease-in 0.2s both;
}

/* line 194, ../sass/styles.scss */
#carousel .slide-fromtop .an_image-2 {
  -webkit-animation: fromTopAnim2 0.4s ease-in 0.2s both;
}

/* line 197, ../sass/styles.scss */
#carousel .slide-fromtop .an_image-3 {
  -webkit-animation: fromTopAnim3 0.3s ease-in 0.2s both;
}

/**from top to bottom animation**/
@-webkit-keyframes fromTopAnim1 {
  /* line 205, ../sass/styles.scss */
  0% {
    bottom: 0%;
    opacity: 1;
  }

  /* line 206, ../sass/styles.scss */
  100% {
    bottom: -100%;
    opacity: 1;
  }
}

@-webkit-keyframes fromTopAnim2 {
  /* line 210, ../sass/styles.scss */
  0% {
    bottom: 0%;
    opacity: 1;
  }

  /* line 211, ../sass/styles.scss */
  100% {
    bottom: -100%;
    opacity: 1;
  }
}

@-webkit-keyframes fromTopAnim3 {
  /* line 215, ../sass/styles.scss */
  0% {
    bottom: 0%;
    opacity: 1;
  }

  /* line 216, ../sass/styles.scss */
  100% {
    bottom: -100%;
    opacity: 1;
  }
}

/**from right to left animation**/
@-webkit-keyframes fromRightAnim1 {
  /* line 223, ../sass/styles.scss */
  0% {
    left: 15%;
    opacity: 0;
  }

  /* line 224, ../sass/styles.scss */
  100% {
    left: 5%;
    opacity: 1;
  }
}

@-webkit-keyframes fromRightAnim2 {
  /* line 228, ../sass/styles.scss */
  0% {
    left: 40%;
    opacity: 0;
  }

  /* line 229, ../sass/styles.scss */
  100% {
    left: 30%;
    opacity: 1;
  }
}

@-webkit-keyframes fromRightAnim3 {
  /* line 233, ../sass/styles.scss */
  0% {
    left: 70%;
    opacity: 0;
  }

  /* line 234, ../sass/styles.scss */
  100% {
    left: 58.5%;
    opacity: 1;
  }
}

/**animation for the caption**/
/* line 240, ../sass/styles.scss */
#carousel .moveIn {
  -webkit-animation: AnimCapIn 0.4s ease-out 1s both;
}

/* line 244, ../sass/styles.scss */
#carousel .moveOut {
  -webkit-animation: AnimCapOut 0.4s ease-In 0.2s both;
}

/* line 248, ../sass/styles.scss */
#carousel .moveIn .caption_contents {
  opacity: 1;
  -webkit-transition: opacity 2.5s linear;
}

/* line 253, ../sass/styles.scss */
#carousel .moveOut .caption_contents {
  opacity: 0;
  -webkit-transition: opacity 0.4s linear;
}

@-webkit-keyframes AnimCapIn {
  /* line 259, ../sass/styles.scss */
  0% {
    bottom: -20%;
    opacity: 1;
  }

  /* line 260, ../sass/styles.scss */
  100% {
    bottom: 0%;
    opacity: 1;
  }
}

@-webkit-keyframes AnimCapOut {
  /* line 264, ../sass/styles.scss */
  0% {
    bottom: 0%;
    opacity: 1;
  }

  /* line 265, ../sass/styles.scss */
  100% {
    bottom: -50%;
    opacity: 1;
  }
}
